<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 10px;
            height: 100%;
        }

        body {
            font-size: 20px;
            font-family: Open Sans, sans-serif;
            position: relative;
        }
    </style>
</head>

<body>
    <div>
        <p> Hello Minh Hoang,</p>
        <p>This password  request is valid from wweb ADM.com for the next 15 Minutes.</p>
        <p>Your code is : {{code}}.</p>
      </div>
</body>

</html>